* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.Logo-Nav:hover {
    scale: calc(1.3);
    transition: calc(0.9s);
}

h1 {
    font-family: Archivo Black;
}

.Card:hover {
    scale: calc(1.04);
    transition: calc(0.7s);
    box-shadow: 0px 0px 24px 1px blue;
}

.Logo:hover {
    scale: calc(1.3);
    transition: calc(0.9s);
    box-shadow: 0px 0px 10px 2px;
}

.Texto {
    color: white;
    text-decoration: none;
}

.Texto:hover {
    font-size: 106%;
    color: blue;
    text-decoration: underline;
}

.Instagram:hover {
    color: rgb(255, 255, 255);
    background: radial-gradient(circle at 30% 107%, rgba(253, 244, 151, 1) 0%, rgba(253, 244, 151, 0) 20%),
        linear-gradient(45deg, #feda75 0%, #fa7e1e 25%, #d62976 50%, #962fbf 75%, #515bd4 100%);

    scale: calc(1.1);
}

.Twitter:hover {
    color: white;
    background-color: black;
}

.Facebook:hover {
    color: blue;
    background-color: white;
    scale: calc(1.1);
}

.Tiktok:hover {
    color: white;
    background-color: black;
}