  
      .login-card {
        max-width: 520px;
        margin: 60px auto;
        background: black;
        border: 1px solid white;
        border-radius: 10px;
        padding: 2rem;
        box-shadow: 2px 2px 2px 2px white;
      }
      .form-control {
        border: none;
      }
      .form-control:focus {
        box-shadow: 0px 0px 0px 1px white;
      }
      a {
        color: #0ea5e9;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }