* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.Fondo {
    background: linear-gradient(180deg, #0d0d0d 0%, #1a1a1a 100%);
}

.Nombre {
    font-size: 2rem;
    font-weight: 800;
}

.Foto {
    box-shadow: 0px 0px 8px 0px;
}

.Foto:hover {
    box-shadow: 0px 0px 25px 8px black;
    scale: calc(1.04);
    transition: calc(0.9s)
}