* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.Talles:hover {
    scale: calc(1.1);
    background-color: white;
    color: black;
}

.Botones:hover {
    scale: calc(1.009);
    color: rgb(201, 201, 201);
}

.Interior {
    background-color: #2d3135;
}